
@media screen and ( max-width :768px) {
    .none{
      display: none;
    }
    .bg-orange {
        background-color: #fd7e14;
    }
    
    
    .text-white {
        color: white;
    }
    
    .bg-black {
        background-color: black;
    }
    
    
    .p-2-5 {
        padding: 10px;
    }
    
    .bg-dark {
        background-color:#111111 ;
    }
    .progress {
        height: 183px;
    }
    
    .w-full {
        width: 153%;
    }
    .h-44 {
        height: 190px;
    
}

.relative {
    position: relative;
}

.left-3-4 {
    left:20% ;
}
.z-10 {
    z-index: 2;
}

.h-96 {
    height: 390px;
}

.h-48 {
    height: 178px;
}
 .left-auto {
    left: 2%;
 }

 .w-6-12 {
    width: 36%;
 }

 .h-32 {
    height: 172px;
 }

 .top-2-3 {
    top: 60%;
 }
 .absolute {
    position: absolute;
 }
 .right-full {
    right: 78%;
 }
 .w-5 {
    width: 20%;
 }
 .fs-1 {
    font-size: 15px;
 }

 .text-end {
    text-align: end;
 }

 .w-28 {
    width: 101%;
 }

 .fs-2 {
    font-size: 20px;
 } 

 .left-2 {
    left: 5%;
 }

 .h-96 {
    height: 566px;
 }

 .w-24 {
    width:98% ;
 }

 .mt-80 {
    margin-top: 320px;
 }

 .top-full {
    top:171% ;
 }

 .left-2-3 {
   left: 65%;
 }

 .w-4-12 {
   width: 33%;
 }

 .left-1-2 {
   left: 47%;
 }

 .h-auto {
   height:1%;
 }

 .h-28 {
   height: 101px;
 }
}
 @media screen and ( max-width :425px) {

   .w-28 { 
   width: 248%;
 }

 .grid {
   display: grid;
 
 }
 .right-21 {
    right: 21%;
 }
 .relative {
   position: relative;
 }

 .left-1-4 {
   left: 18%;
 }

 .w-1-4 {
   width: 25%;
 }

 .right-1 {
   right: -1%;
 }

 .mt-48 {
   margin-top: 43%;
 }

 .top-1-4 {
   top: 17%;
 }

 .w-full { 
   width: 104%;
 }

 .w-3-12 {
   width: 25%;
 }

 .left-1-4 {
   left: 17%;
 }

 .top-full {
   top: 99%;
 }

 .top-3-4 {
   top: 86%;
 }


.mt-2-5 {
   margin-top: 10px;
}

.h-screen {
   height: 122vh;
}

.w-11-12 {
   width: 120%;
}

.top-96 {
   top: 396%;
}

.top-80 {
   top: 378%;
}

.w-6-12 {
   width: 50%;
}

.bg-orange {
   background-color: #fd7e14;
}

.text-white {
   color: white;
}

.none {
   display: none;
}

.mt-28 {
   margin-top: 100px;
}

.h-96 {
   height: 398px;
}

.w-8-12 {
   width: 62%;
}
 .top-2-4 {
   top: 29%;
 }

 .left-2-4 {
   left: 22%;
 }
 .top-auto {
   top: 10%;
 }
 .right-1-4 {
   right: 15%;
 }
}
